body, html {
    font-family: 'Manrope', sans-serif;
    
}

/* Header styles start */
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}


.container {
    max-width: 1335px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.burger {
    display: none;
}

.button {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.75;
    padding: 0 40px;
    color: #fff;
    border-radius: 12px;
    background: #FF6433;
    white-space: nowrap;
}

.button:hover {
    transform: scale(1.1);
    transition: .3s;
}

/* ------------------------------------------------------------ */


.header-top {
    margin-bottom: 60px;
}
.header-top-inner {
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    margin-right: 470px;
}
.header-nav {
    margin-right: auto;
}
.header-nav__list {
    display: flex;
    align-items: center;
}

.header-nav__item {
    margin-right: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #1E1B1B;
}

.header-nav__item:hover {
    color: red;
    transition: .3s;
}

.header-nav__item:last-child {
    margin-right: 0px;
}

.header-assistance {
    display: flex;
    border-left: 1px solid rgba(184, 184, 184, 0.36);
    padding-left: 50px;
}

.header-assistance__contact {
    margin-left: 14px;
}
.header-assistance__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1E1B1B;
    opacity: 0.7;
}
.header-assistance__number {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.75;
    color: #1E1B1B;
}

/* ------------------------------------------------- */
/* ------------------------------------------------- */
    
.header-main {
    display:flex;
    justify-content: space-between;
}
.header-content {
    margin-right: 30px;
}
.header-content__title {
    margin-top: 80px;
    max-width: 624px;
    font-weight: 800;
    font-size: 64px;
    line-height: 84px   ;
    letter-spacing: -0.03em;
    color: #1E1B1B;
    margin-bottom: 32px;
}
.header-content__animation {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.header-content__btn {
    padding: 16px 40px;
    margin-right: 33px;
}

.header-content__video {
    display: inline-flex;
    align-items: center;
}

.header-content__video svg {
    margin-right: 8px;
}

.header-content__video svg:hover {
    border-radius: 50%;
    box-shadow: 0 0 0 8px #5e5a58;
    transition: .3s;
}

.header-content__schedule {
    display: flex;
}
.header-content__open {
    margin-left: 14px;
}
.header-content__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1E1B1B;
    opacity: 0.7;
}
.header-content__timetable {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.75;
    color: #1E1B1B;
}


.header-img {
    display: flex;
}

.header-img__man { 
    width: 100%;
    height: auto;
}

.header-img__rating {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #FFFFFF;
    width: 326px;
    height: 102px;
    margin-top: 460px;
    margin-left: 300px;
    border: 12px solid rgba(225, 225, 225, 0.43);
    box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
    border-radius: 59px;
}

#header-img__grade {
    background: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #000000;
}

#header-img__text {
    background: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
}

/* Header styles end */    

/* ------------------------------------------------- */
/* ------------------------------------------------- */


/* About styles start */    


.about {
    background-color: #F2F2F2;
}
.about-inner {
    padding-top: 132px;
    margin-top: 138px;
}

.about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.about-title__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #1E1B1B;
    margin-bottom: 8px;
}
.about-title__h2 {
    max-width: 858px;
    font-weight: 800;
    font-size: 58px;
    line-height: 76px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #1E1B1B;
}
.about-offer {
    height: 472px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    margin-bottom: 32px;
}

.about-offer__card {
    display: grid;
    justify-items: center;
    align-content: center;
    width: 316px;
    height: 232px;
    background: #fff;
}

.about-offer__card:hover {
    background-color: #FF6433;
    transition: .5s;
}

.about-offer__card:hover .about-offer__text{
    color: #fff;
    transition: .3s;
}

.about-offer__card:hover .about-offer__img {
    filter: invert(100%);
    transition: .3s;
}

.about-offer__text {
    padding-top: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #1E1B1B;
}

.about-learn__text:hover {
    color: red;
    transition: .3s;
}

.about-learn {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 124px;
}

.about-learn__text {
    padding-right: 16px;
}



/* About styles end */  

/* ------------------------------------------------- */
/* ------------------------------------------------- */

/* Help styles start */

.help {
    margin-top: 131px;
    margin-bottom: 134px;
}

.help-inner {
    display: flex;
}

.help-follow__title {
    width: 524px;
    font-weight: 800;
    font-size: 58px;
    line-height: 76px;
    letter-spacing: -0.03em;
    color: #1E1B1B;
    margin-bottom: 16px;
}
.help-follow__text {
    width: 437px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #1E1B1B;
    opacity: 0.6;
    margin-bottom: 32px;
}
.help-follow__btn {
    padding: 16px 40px;
    width: 177px;
}

.help-recommendations {
    display: flex;
    flex-direction: column;
    padding-left: 131px;
}

.help-recommendation__1, .help-recommendation__2, .help-recommendation__3{
    display: flex;
    margin-bottom: 16px;
}

.help-recommendation__3 {
    margin-bottom: 0;
}


.help-recommendation__circle__number {
    padding: 24px 18px;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    color: #FFFFFF;
}

.help-recommendation__circle::after {
    content: "";
    display: block;
    margin-top: 50px;
    border-bottom: 2px dashed #FF6433;
    transform: rotate(90deg);   
}


.help-recommendation__circle {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #661CE7;
    background-image: url(/Images/circle-bottom.svg);
    margin-right: 24px;
}

.help-recommendation__circle__3 {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #661CE7;
    background-image: url(/Images/circle-bottom.svg);
    margin-right: 24px;
}

.help-recommendation__body {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.help-recommendation__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: #1E1B1B;
    margin-bottom: 8px;
}

.help-recommendation__text {
    width: 336px;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #1E1B1B;
    opacity: 0.6;
}

/* Help styles end */

/* ------------------------------------------------- */
/* ------------------------------------------------- */

/* Contact styles start */

.contact {
    padding-top: 100px;
}


.contact-block {
    background-image: url('../Images/car.svg');
    width: 1920px;
    height: 502px; 
    margin: 0 auto;
}

.contact-us {
    background-color: #FF6433;
    width: 729px;
    height: 502px;
    margin-left: -230px;
    padding: 128px 80px;
}

.contact-us__title {
    max-width: 569px;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-bottom: 48px;
}
.contact-us__btn {
    padding: 16px 40px;
    width: 177px;
    color: #fff;
    background: #1E1B1B;
}


/* Contact styles end */

/* ------------------------------------------------- */
/* ------------------------------------------------- */

/* Info styles start */


.info {
    background-color: #F2F2F2;
}

.info-block {
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}



.info-block__number {
    font-weight: 800;
    font-size: 58px;
    letter-spacing: -0.03em;
    color: #661CE7;
    margin-bottom: 5px;
}

.info-block__text {
    
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #1E1B1B;
    opacity: 0.7;
}
/* Info styles end */

/* ------------------------------------------------- */
/* ------------------------------------------------- */

/* Brands styles start */

.brands {
    background: #E2E6E9;
    padding-top: 128px;
}

.brands-title {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -1.74px;
    color: black;
    text-align: center;
    padding-bottom: 40px;
}

.brands-block1,.brands-block2  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 38px;
}

.brands-img {
    transition: all .3s;
    fill: #1E1B1B;
}

.brands-img--1:hover path {
    fill: red;
}

 .brands-img--1:hover {
    transform: scale(1.3);
}
.brands-img--2:hover path {
    fill: rgb(191, 86, 12);
}

.brands-img--2:hover {
    transform: scale(1.3);
}

.brands-img--3:hover path {
    fill: #661CE7;
}

.brands-img--3:hover {
    transform: scale(1.3);
}

.brands-img--4:hover path {
    fill: rgb(8, 207, 207);
}

.brands-img--4:hover {
    transform: scale(1.3);
}

.brands-img--5:hover path {
    fill: #0ba02d;
}

.brands-img--5:hover {
    transform: scale(1.3);
}

/* Brands styles end */

/* ------------------------------------------------- */
/* ------------------------------------------------- */

/* Blog styles start */

.blog {
    margin-top: 130px;
    margin-bottom: 72px;
}

.blog-title {
    color: #1E1B1B;
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -1.74px;
    margin-bottom: 47px;
}

.blog-button__box {
    display: flex;
    margin-bottom: 46px;
}

.blog-button__box img {
    width: 100%;
    height: 100%;
}

.blog-button__item {
    margin-right: 30px;
}

.blog-button__item:last-child {
    margin-right: 0;
}

.blog-button__filter {
    color: #1E1B1B;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.96px;
    background: none;
}

.blog-button__filter--active {
    color: #FF6433;
}

.blog-list {
    display: grid;
    grid-template: repeat(2,1fr) / repeat(3,1fr);
}

.blog-list__link {
    transition: all 1s;
}

.blog-list__item {
    max-width: 405px;
}

.blog-list__item:hover {
    box-shadow: 0px 4px 4px -3px rgba(30, 33, 44, ), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    transition: all .3s;
    transform: scale(1.1);
}
.blog-image {
    margin-bottom: 24px;
}
.blog-link__content {
    max-width: 405px;
}
.blog-link__date {
    color: #939191;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 16px;
}
.blog-link__title {
    color: #1E1B1B;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.96px;
    margin-bottom: 16px;
}
.blog-link__text {
    color: #232536;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 64px;
}
/* Blog styles end */


/* ------------------------------------------------- */
/* ------------------------------------------------- */


/* Customers styles start */

.customers {
    background-color: #F2F2F2;
    padding-top: 128px;
    padding-bottom: 136px;
    
}

.customers-title {
    max-width: 909px;
    font-weight: 800;
    line-height: 76px;
    font-size: 58px;
    letter-spacing: -1.74px;
    text-align: center;
    color: #1E1B1B;
    padding-bottom: 76px;
    margin: 0 auto;
}

.customers-slider__wrapper {
    position: relative;
    padding-bottom: 16px;
}
.customers-slider {
   padding-bottom: 26px;
}


.customers-slide {
    position: relative;
}



.customers-slide__1 {
    background-color: #fff;
    max-width: 616px;
    padding: 72px;
    border-radius: 4px;
}

.customers-slide__2 {
    background-color: #fff;
    max-width: 616px;
    padding: 72px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 4px;
}

.customers-slide__inner {
    max-width: 472px;
}
.customers-user {
    display: flex;
    margin-bottom: 24px;
}
.customers-image {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.customers-info {
    display: flex;
    flex-direction: column;
}
.customers-info__name {
    color: #1E1B1B;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
}
.customers-info__city {
    color: #939191;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}
.customers-quote {
    color: #1E1B1B;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
}


.customers-arrow {
    position: absolute;
    right: 0px;
}

.customers-arrow:hover path {
    fill: white;
    transition: all .3s;
}

.customers-prev {
    right: 65px;
    background-color: #fff;
    border-radius: 50%;
    padding: 13px 10px;
}

.customers-next {
    background-color: #fff;
    border-radius: 50%;
    padding: 13px 10px;
}

.customers-prev:hover, .customers-next:hover {
    background-color: #000;
    transform: scale(1.1);
    transition: all .3s;
}


.customers-dots .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .customers-dots li {
    margin-top: -10px;
    margin-right: 12px;
  }
  
  .customers-dots li:last-child {
    margin-right: 0;
  }
  
  .customers-dots button {
    font-size: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
  }
  
  .customers-dots button::before {
    content: "";
    height: 4px;
    width: 100%;
    background-color: #B3B7BC;
    border-radius: 3px;
  }
  
  .customers-dots .slick-active button::before {
    background-color: #FF6433;
    transition: all .3s;
  }

/* Customers styles end */


/* ------------------------------------------------- */
/* ------------------------------------------------- */


/* Questions styles start */

.questions {
    background-color: #E2E6E9;
    padding-top: 120px;
    padding-bottom: 128px;
}

.questions-title {
    font-size: 58px;
    font-weight: 800;
    text-align: center;
    line-height: 76px;
    letter-spacing: -1.74px;
    color: #1E1B1B;
    padding-bottom: 86px;
}

.questions-acc {
    width: 896px;
    margin: 0 auto;
}
.questions-acc__item {
    background-color: #fff;
    margin-bottom: 12px;
    padding: 40px;
}

.questions-acc__item:last-child {
    margin-bottom: 0;
}

.questions-acc__head {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
    color: #1E1B1B;
    position: relative;
}

.questions-acc__head::after {
    content: "";
    position: absolute;
    top: 18px;
    right: 0;
    height: 2px;
    width: 17px;
    background: #FFFFFF;
}

.questions-acc__stick::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 2px;
    width: 18px;
    background: #fff;
}

.questions-acc__head::before {
    content: "";
    position: absolute;
    height: 40px;
    width: 20px;
    top: 0;
    left: 786px;
    background: #FF6433;
    padding: 7px 22px;
}

.questions-acc__head::after {
    transform: rotate(90deg);
    transition: all .3s;
}

.questions-acc__link--active .questions-acc__head::after {
    transform: rotate(0deg);
  }

.questions-acc__text {
    padding-top: 16px;
    width: 700px;
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    color: #939191;
}
/* Questions styles end */

/* ------------------------------------------------- */
/* ------------------------------------------------- */


/* Message styles start */

.message {
    margin-top: 120px;
}
.message-title {
    width: 500px;
    font-size: 64px;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: -1.92px;
    color: #1E1B1B;
    margin-bottom: 48px;
    
}
.message-inner {
    display: flex;
}

.message-input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 48px;

}

input {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    width: 624px;
    height: 72px;
    border-radius: 2px;
    background: #F2F2F2;
    margin-bottom: 4px;
}

.message-input input:last-child {
    margin-bottom: 0;
}

.message-input ::placeholder, 
.message-input__textarea ::placeholder {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-left: 40px;
    color: #1E1B1B;
}
select,textarea {
    width: 624px;
    height: 72px;
    border-radius: 2px;
    background: #F2F2F2;
    margin-bottom: 4px;
}
.message-input__select {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-left: 40px;
    
}

select:focus,input:focus, textarea:focus,
select:hover,input:hover, textarea:hover {
    transition: all .1s;
    border: 3px solid #555;
}

.message-input__textarea {
    padding-top: 23px;
}

.message-info {
    margin-left: 140px;
}

.message-address, .message-contact {
    margin-bottom: 32px;
}

.message-name__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: #1E1B1B;
    opacity: 0.699999988079071;
}
.message-name__text {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
    color: #1E1B1B;
}

.message-btn {
    padding: 16px 25px;
    width: 177px;
    margin-bottom: 178px;
}

/* Message styles end */


iframe  {
    position: absolute;
    z-index: 2;
    width: 100%;
    max-width: 1920px;
    height: 512px;
}

.map-bg {
    position: relative;
    background: url('Images/map-bg.jpg');
    width: inherit;
    height: 448px;
    margin: 0 auto;
}

/* ------------------------------------------------- */
/* ------------------------------------------------- */

/* Footer styles start */

.footer {
    background-color: #1E1B1B;
    padding-top: 128px;
}

.footer-top {
    padding-bottom: 120px;
    opacity: 0.9800000190734863;
}

.footer-inner {
    display: flex;
    
}

.footer-osn__title {
    width: 463px;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 140%; 
    letter-spacing: -1.44px;
    padding-bottom: 64px;
}
.footer-osn__icons {
    display: flex;
}

.osn-icon {
    margin-right: 23px;
}

.osn-icon:last-child {
    margin-right: 0;
}

.osn-icon:hover {
    transform: scale(1.1);
    transition: all .3s;
}

.osn-icon--1:hover path {
    fill: #3b5998;
}

.osn-icon--2:hover path {
    fill: #359cd7;
}

.osn-icon--3:hover path {
    fill: #0f0c09;
}

.osn-icon--4:hover path {
    fill: #09b2af;
}


.contact-information {
    padding-left: 193px;
    padding-bottom: 32px;
}

.contact-information:last-child {
    padding-bottom: 0;
}

.contact-information__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    color: #fff;
    opacity: 0.6000000238418579;
}
.contact-information__text {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
    color: #fff;
}



.footer-bottom {
    padding: 64px 0;
    display: flex;
}


.footer-logo {
    margin-right: 288px;
}
.footer-nav {
    margin-right: auto;
}
.footer-nav__list {
    display: flex;
    
}
.footer-nav__item {
    margin-right: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

.footer-nav__item:hover {
    color: red;
    transition: .3s;
}

.footer-copy {
    color: #939191;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}
/* Footer styles end */

/* ------------------------------------------------- */
/* ------------------------------------------------- */

/* Media styles start */


/* -------------------------1300------------------------ */
@media (max-width: 1300px) {
    .header-logo {
        margin-right: 230px;
    }
    .header-assistance {
        margin-left: 10px;
    }

    /* ------------------------------------------------- */
        .header-content__title {
        font-size: 56px;
    }
        .header-img__man {
        max-width: 500px;
    }
    .header-img__rating {
        margin-left: 10px;
        left: 0;
        top: 250px;
    }

    /* ------------------------------------------------- */
    .about-title__h2 {
        max-width: 757px;
        font-size: 50px;
    }
    .about-offer__card {
        width: 238px;
        height: 229px;
    }
    .about-learn {
        padding-right: 35px;
    }
    /* ------------------------------------------------- */
    .customers-slide__1, .customers-slide__2 {
        max-width: 510px;
    }
}

/* -------------------------1250------------------------ */
@media (max-width: 1250px) {
    .blog-list {
        grid-template: repeat(3,1fr) / repeat(2,1fr);
        justify-items: center;
        gap: 30px;
    }
}

/* ------------------------1150------------------------- */
@media (max-width: 1150px) {
    .footer-logo {
        margin-right: 200px;
    }
    .footer-nav__item:last-child {
        margin-right: 60px;
    }
}


/* ------------------------1100------------------------- */
@media (max-width: 1100px) {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 50;
        background: rgba(0, 0, 0, 0.349);
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
      }
      .overlay--show {
        visibility: visible;
        opacity: 1;
      }

    .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s;
  }

  .burger--follow {
    top: 15px;
    right: 15px;
    box-shadow: 0 1px 8px #a1a1a1;
    background-color: #fff;
  }

  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #424551;
    border-radius: 3px;
    margin: 4px 0;
  }

  .burger::before,
  .burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #424551;
    border-radius: 3px;
  }

  .header {
    padding-top: 92px;
  }

  .header-top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 100;
    min-width: 320px;
    transform: translateX(100%);
    transition: all .3s;
  }

  .header-top--open {
    transform: translateX(0%);
  }

  .header-top-inner {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 100px 0;
  }

  .header-logo {
    margin: 0 0 30px 0;
  }

  .header-nav {
    text-align: center;
    margin: 0 auto;
    flex-grow: 1;
  }

  .header-nav__list {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .header-nav__link {
    display: block;
    padding: 20px;
  }

.header-nav__item {
    margin: 0;
  }

  .header-assistance {
    padding-top: 30px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: -50px;
    border: none;
  }

  .header-assistance__contact {
    padding-top: 7px;
  }

  /* ---------------------------------------------- */

  .header-content__title {
    font-size: 35px;
    
  }

  .header-img__man {
   display: none;
}
.header-img__rating {
    margin-top: 320px;
}

  /* ---------------------------------------------- */
  .help-inner {
    display: inline;
  }
  .help-recommendations {
    padding-left: 0;
    padding-top: 30px;
  }
  /* ------------------------------------------------- */
  .customers-title {
    font-size: 50px;
  }
  .customers-slide__1 {
    margin: 0 auto;
  }
  .customers-slide__2 {
    position: static;
    margin: 0 auto;
    margin-top: 30px;
  }
  .customers-arrow {
    display: none;
  }
   /* ------------------------------------------------- */
   .message-inner {
    flex-wrap: wrap;
    flex-direction: column-reverse;
   }
   .message-info {
    margin-left: 5px;
    margin-bottom: 20px;
   }
   /* ------------------------------------------------- */
   .footer-bottom {
    display: none;
   }
   .contact-information {
    padding-left: 100px;
   }
}

/* ------------------------1000------------------------- */
@media (max-width: 1000px) {
    .about-offer__card {
        width: 191px;
        height: 229px;
    }
    .about-learn {
        padding-right: 25px;
    }
    /* ------------------------------------------------- */
    .questions-title {
        font-size: 52px;
    }
    .questions-acc {
        width: 750px;
    }
    .questions-acc__head {
        font-size: 22px;
    }
    .questions-acc__head::before {
        left: 640px;
    }
}

/* ------------------------900------------------------- */
@media (max-width: 900px) {
    .contact-us {
        margin-left: -308px;
        padding: 128px 10px;
    }
    .contact-us__title {
        font-size: 36px;
    }
    /* ------------------------------------------------ */
    .info-block__number {
        font-size: 45px;
    }
    .info-block__text {
        font-size: 20px;
    }
    /* ------------------------------------------------ */
    .brands-title {
        font-size: 45px;
    }
    /* ------------------------------------------------ */
    iframe {
        height: 250px;
        max-width: none;
    }
}

/* -------------------------870------------------------ */
@media (max-width: 870px) {
    .blog-list {
        grid-template: none;
    }
    /* ------------------------------------------------ */
    .footer-contact {
        display: none;
    }
}

/* ------------------------800------------------------- */
@media (max-width: 800px) {
    .about-title__h2 {
        font-size: 32px;
    }
    .about-offer {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        height: 900px;
    }
    .about-offer__card {
        width: 280px;
        border-bottom: 15px solid #F2F2F2;
    }
    .about-learn {
        padding-right: 40px;
    }
    /* ------------------------------------------------- */
    .questions-title {
        font-size: 48px;
    }
    .questions-acc {
        width: 550px;
    }
    .questions-acc__head {
        font-size: 20px;
    }
    .questions-acc__head::before {
        left: 440px;
    }
    .questions-acc__text {
        width: inherit;
    }

}


/* ------------------------700------------------------- */
@media (max-width: 700px) {
    .info-block {
        flex-direction: column;
    }
    .info-block__small {
        margin-bottom: 20px;
    }
    /* ------------------------------------------------ */
    .brands-title {
        font-size: 40px;
    }
    .brands-block1 {
        flex-direction: column;
    }
    .brands-block2 {
        display: none;
    }
    /* ------------------------------------------------ */
    .about-learn {
        justify-content: flex-start;
    }
    /* ------------------------------------------------ */
    .message-title {
        width: 450px;
        font-size: 50px;
    }
    input,.message-input__select, .message-input__textarea {
        width: inherit;
    }
}

/* ------------------------700------------------------- */
@media (max-height: 700px) {
    .header-nav__link {
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .header-assistance {
        padding-top: 0px;
    }

}

/* ------------------------600------------------------- */
@media (max-width: 600px) {
    .about-offer__card {
        width: 200px;
    }
    .about-title__text {
        font-size: 20px;
    }
    .about-title__h2 {
        max-width: 365px;
        font-size: 27px;
    }
    /* ----------------------------------------------- */
    .help-follow__title {
        max-width: 521px;
        font-size: 35px;
        line-height: 42px;
    }
    .help-follow__text {
        max-width: 437px;
        font-size: 14px;
    }
    .help-recommendation__1, .help-recommendation__2 {
        margin-bottom: 40px;
    }
    .help-recommendation__circle__number {
        font-size: 30px;
    }
    .help-recommendation__circle::after {
        margin-top: 40px;
    }
    .help-recommendation__title {
        font-size: 26px;
    }
    .help-recommendation__text {
        font-size: 14px;
    }
      /* ------------------------------------------------- */
    .customers-title {
        font-size: 40px;
    }
    .customers-slide__1, .customers-slide__2 {
        padding: 23px;
    }
    .customers-info__name {
        font-size: 22px;
    }
    .customers-quote {
        font-size: 20px;
    }
    .customers-dots button {
        width: 25px;
        height: 25px;
    }
    /* -------------------------------------------------- */
    .questions-acc {
        width: 430px;
    }
    .questions-acc__item {
        padding-left: 20px;
    }
    .questions-acc__head {
        font-size: 16px;
    }
    .questions-acc__head::before {
        left: 340px;
    }
}

/* ------------------------500------------------------- */
@media (max-width: 500px) {
    .header-img__rating {
    display: none;
    }
    /* ------------------------------------------------ */
    .help-follow__title {
        width: 300px;
    }
    .help-follow__text {
        width: 300px;
    }
    .help-recommendation__circle::after {
        margin-top: 50px;
    }
    .help-recommendation__text {
        width: 260px;
    }
    /* ------------------------------------------------ */
    .contact-us__title {
        width: 330px;
        font-size: 32px;
    }
    /* ------------------------------------------------ */
    .blog-title {
        font-size: 50px;
    }
    .blog-button__filter {
        font-size: 25px;
    }
    /* ------------------------------------------------- */
    .footer-osn__title {
        width: 300px;
        font-size: 40px;
        padding-bottom: 25px; 
    }

}


/* ------------------------450------------------------- */
@media (max-width: 450px) {
    .header-content__animation {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .header-content__btn {
        font-size: 13px;
        line-height: 175%;
    }
    .header-content__video {
        margin-bottom: 15px;
    }
    .header-img__rating {
        display: none;
    }
    /* ------------------------------------------------ */
    .about-title__h2 {
        line-height: 50px;
    }
    .about-offer__card {
        height: 220px;
        width: 160px;
    }
    .about-offer__text {
        font-size: 20px;
    }
        /* -------------------------------------------------- */
        .questions-title {
            font-size: 44px;
        }
        .questions-acc {
            width: 300px;
        }
        .questions-acc__item {
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 10px;


        }
        .questions-acc__head {
            font-size: 12px;
        }
        .questions-acc__head::before {
            left: 224px;
            padding: 7px 18px;
            height: 30px;
            width: 18px;
            top: 5px;
        }
        .questions-acc__text {
            font-size: 14px;
        }
        /* -------------------------------------------- */
        .message-title {
            width: 300px;
            font-size: 40px;           
        }
        .message-input ::placeholder, 
        .message-input__textarea ::placeholder, .message-input__select {
            padding-left: 10px;
            font-size: 14px;
        }
        .message-name__title {
            font-size: 14px;
        }
        .message-name__text {
            font-size: 20px;
        }

}

/* ------------------------430------------------------- */
@media (max-width: 430px) {
    .blog-title {
        font-size: 45px;
    }
    .blog-button__box {
        margin-bottom: 20px;
    }
    .blog-button__item  {
        margin-right: 15px;
    }
    .blog-button__filter {
        font-size: 22px;
    }
    .blog-list__item {
        width: 320px;
    }
    .blog-image__pic {
        width: 300px;
        height: 266px;
    }
}

/* ------------------------370------------------------- */
@media (max-width: 370px) {
    .about-offer__card {
        height: 230px;
        width: 126px;
    }
    .about-offer {

    }
    .about-offer__text {
        font-size: 17px;
    }
    /* ------------------------------------------------ */
    .help-recommendation__title {
        font-size: 20px;
    }
    .help-recommendation__text  {
        font-size: 13px;
        width: 222px;
    }
}
/* Media styles end */