body, html {
    font-family: 'Manrope', sans-serif;
    
}

/* Header styles start */
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.header {
    width: 1920px;
}


.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

.header_top-inner {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    margin-bottom: 80px;
}

.header_nav {
    margin-right: auto;
}

.header_top-logo {
    margin-right: 474px;
}

.header_nav-list {
    display: flex;

}

.header_nav-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #1E1B1B;
}

.header_nav-item {
    margin-right: 40px;
}

.header_nav-item:last-child {
    margin-right: 32px;
}

.header_whats-app__text, .header_whats-app__phone {
    margin-left: 10px;
}

.header_whats-app {
    margin-top: -5px;
    max-width: 181px;
    display: flex;
    border-left: 1px solid #939191;
    padding-left:25px;
    opacity: 0.7;
}

.header_whats-app__items {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header_whats-app__text {
    font-weight: 500;
    font-size: 13px;
    color: #1E1B1B;
    opacity: 0.7;
}

.header_whats-app__phone {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.75;
}




.header_bottom-inner {
    display: flex;
    justify-content: space-between;
}

.h1 {
    width: 624px;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 84px;
    letter-spacing: -0.03em;
    color: #1E1B1B;
    margin-bottom: 32px;
}

.header_button {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    color: #FFF;
    background: #FF6433;
    border-radius: 12px;
    padding: 15px 40px;
    gap: 10px;
    margin-right: 55px;
}

.header_play {
    margin-bottom: 48px;
}

.header_play-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1E1B1B;
}

.header_play-btn svg {
    margin-right: 5px;
    transition: all .3s;
}

.header_play-btn:hover svg {
     border-radius: 50%;
     box-shadow: 0 0 0 16px rgba(31, 8, 8, 0.12) ;
   
}

.header_timetable {
    display: flex;
}

.timetable__items {
    display: flex;
    flex-direction: column;
    margin-left: 13px;
}

.timetable__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #939191;
}

.timetable__period {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #1E1B1B;
}



/* Header styles end */    
